/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.logo a img{
    width: 80px;
    height: 48.75px;
}
.bgc-FBF2F2{
    background-color: #FBF2F2;
}
.warp{
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
}
.menu a{
    display: block;
    line-height: 48.75px;
    padding: 16px 16px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
}
.menu2 a{
    display: block;
    text-decoration: none;
    
}
.banner{
    background:url(../images/home-header.png) no-repeat;
    background-size: cover;
    height: 787px;
    max-width: 100%;
}
.banner2{
    background:url(../images/index-bg.png) no-repeat;
    background-size: cover;
    max-width: 100%;
}

/* flex相關 */
.flex{
    display: flex;
    flex-wrap: wrap;
}
.fdc{
    flex-direction: column;
}
.jcsb{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}
.jcfe{
    justify-content: flex-end;
}
.aic{
    align-items: center;
}

/* 字體相關 */
.ffr{
    font-family: 'Roboto';
}
.tar{
    text-align: right;
}
.tal{
    text-align: left;
}
.tac{
    text-align: center;
}
.color-650300{
    color: #650300;
}
.color-AA0601{
    color: #AA0601;
}
.color-white{
    color:#FFFFFF;
}
.color-707070{
    color: #707070;
}
.fsz-14{
    font-size: 14px;
}
.fsz-16{
    font-size: 16px;
}
.fsz-20{
    font-size: 20px;
}
.fsz-24{
    font-size: 24px;
}
.fsz-36{
    font-size: 36px;
}
.fsz-48{
    font-size: 48px;
}
.fsz-64{
    font-size: 64px;
}
.fwb{
    font-weight: bold;
}
.fwn{
    font-weight: normal;
}
.fsi{
    font-style: italic;
}
.lh-21{
    line-height: 21px;
}
.lh-24{
    line-height: 24px;
}
.lh-30{
    line-height: 30px;
}
.lh-36{
    line-height: 36px;
}
.lh-54{
    line-height: 54px;
}
.lh-72{
    line-height: 72px;
}
.lh-96{
    line-height: 96px;
}

/* padding */
.p16{
    padding: 16px;
}
.p12-6{
    padding: 6px 12px;
}
.p16-176{
    padding: 16px 176px;
}
.p8-x{
    padding: 8px 0px;
}
.p35-y{
    padding: 35px 0px;
}
.p32-y{
    padding: 32px 0px;
}
.pt80{
    padding-top: 80px;
}
.pt96{
  padding-top: 96px;
}
.pb80{
    padding-bottom: 80px;
}
.pl16{
   padding-left: 16px;
}


/* margin */
.ml32{
    margin-left: 32px;
}
.mr20{
    margin-right: 20px;
}
.mr24{
    margin-right: 24px;
}
.mr48{
    margin-right: 48px;
}
.ml48{
    margin-left: 48px;
}
.mb8{
    margin-bottom: 8px;
}
.mb16{
    margin-bottom: 16px;
}
.mb24{
    margin-bottom: 24px;
}
.mb2433{
    margin-bottom: 24.33px;
}
.mb48{
    margin-bottom: 48px;
}




/* 長寬 */
.icon-img{
    width: 83.33px;
    height: 76.46px;
}
.img36X36{
    width: 36px;
    height: 36px;
}
.img48X48{
    width: 48px;
    height: 48px;
}
.img306{
    width: 306px;
    height: 306px;
}
.img416{
    width: 416px;
    height: 416px;
}
.img648X240{
    width: 648px;
    height: 240px;
}
.max-w306{
    max-width: 306px;
}
.w100p{
    width: 100%;
}
.max-w636{
    max-width: 636px;
}
.h136{
    height: 136px;
}
.h141{
    height: 141px;
}
.h36{
    height: 36px;
}


/* 背景 */
.bgc-while{
    background-color: #fff;
}
.bgc-AA0601{
    background-color: #AA0601;
}
.bgct{
    background-color:transparent;
}

/* border */
.cust{
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #DEE2E6;
    border-radius: 4px;
    opacity: 1;
}
.b{
    border-bottom: 1px solid #FFFFFF;
}
.qutions h1{
  border-left: 8px solid #9F1213;
}

@media(max-width: 768px){
    .warp{
        width: 100%;
    }
    .logo,.menu{
        text-align: center;
        width: 100%;
    }
    .logo{
        padding-top: 10px;
    }
    .menu li{
        width: 48%;
        border: 1px solid white;
    }
    .contact{
        max-width: 80%;
    }
    .cust{
        margin-bottom: 24px;
    }
    .contactBtn{
        padding: 16px 25%;
    }
    .copyright p{
        width: 100%;
    }
    .copyright ul{
        width: 100%;
        flex-direction: column;
    }
    .copyright li{
        margin-left: 0;  
    }
    .phone-mail{
        font-size: 16px;
        line-height: 24px;

    }
    .footer_link{
        width: 100%;
        margin-bottom: 24px;
    }
    .footer_icon{
        text-align: center;
        width: 100%;
    }
    .footer_link li{
        width: 100%;
        margin-right: 0;
    }
    .banner{
        background:url(../images/home-header-sm.png) no-repeat;
        background-size: cover;
        height: 787px;
        max-width: 100%;
    }
}
